 .featuresContainer {
    width: 100vw;
    max-width: 100%;
    padding: 50px 5%; 
    margin: 0 auto;
}

 .row {
    margin: 0;
    width: 100%;
}

 .img-car {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

 .carImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;   
    display: block;
}

 .whyChooseUsBtn {
    background-color: #e6e9fc;
    color: rgb(74, 112, 248);
    font-weight: bold;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

 .mainTitle {
    font-size: 32px;
    font-weight: bold;
    color: #222;
}

 .overlayBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/imgs/landing-page/sec-5/Vector.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1111;
}

 .featureCard {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 15px;
}

 
.iconContainer {
    background-color: #e6e9fc;
    padding: 10px;
    border-radius: 8px;
}
 
.iconStyle {
    font-size: 24px;
    color: rgb(36, 83, 255);
}
 
.featureTitle {
    font-size: 18px;
    font-weight: bold;
    color: #222;
}
 
.featureText {
    color: #555;
    margin: 0;
}
