.testimonialsContainer {
    text-align: center;
    padding: 50px 20px;
    background-color: #f8faff;
  }
  
  .sectionTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .testimonialCard {
    display: flex;
    justify-content: center;
  }
  
  .cardContent {
    background: white;
    border-radius: 15px;
    padding-right: 20px;
    width: 90%;
    max-width:700px;  
    display: flex;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .avatar {
    width: 300px;
    height: 400px;
     object-fit: cover;
     border-radius: 15px;
  }
  
  .testimonialContent {
    text-align: left;
    flex: 1;
  }
  
  .rating {
    font-weight: bold;
    font-size: 18px;
  }
  
  .review {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .name {
    font-weight: bold;
  }
  
  .updated {
    font-size: 12px;
    color: gray;
  }
  .swiper {
    height: auto;
  }
  .testimonialsContainer {
    overflow: hidden;
  }
  @media (max-width: 768px) {
    .cardContent {
      flex-direction: column;
      text-align: center;
      padding: 20px;
    }
    .avatar {
      width: 100%;
      height: auto;
    }
  }
  